/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	height: 100%;
	line-height: 1;
	font-family: "HelveticaNeueCyr", sans-serif;
	background: #fff;
	padding: 0px 10px 0px 10px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	word-spacing: 0;
}
/* ------------------------------ */

.block1 {
	padding: 20px 130px 40px 130px;
	background: #f5f5f5;
	margin-bottom: 50px;
}
.block1__content {
	color: #02133c;
}
.block1__topcontent {
	background: url("../img/overline_mark.svg") 0 0 no-repeat;
}
.topcontent__subtitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #4b4b4b;
	margin: 0px 0px 33px 30px;
}
.topcontent__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin: 0px 0px 68px 0px;
}
.block1__buttomcontent {
	display: inline-block;
	vertical-align: top;
	padding: 0px 24px 10px 0px;
}
.block1__card {
	max-width: 324px;
}
.card__image {
	display: inline-block;
	vertical-align: top;
	margin: 0px 13px 0px 0px;
}
.card__text {
	display: inline-block;
	max-width: 235px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.card__text p:first-of-type {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	margin: 0px 0px 20px 0px;
}
.block2 {
	padding: 20px 140px 40px 140px;
	background: #f5f5f5;
	margin-bottom: 50px;
}
.block2__content {
}
.block2__topcontent {
	margin: 0px 0px 68px 0px;
}
.topcontent2__subtitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5d62b5;
	margin: 0px 0px 33px 0px;
}
.topcontent2__subtitle::before {
	display: inline-block;
	content: "";
	width: 24px;
	height: 32px;
	background: url("../img/purple_mark.svg") 0 10px no-repeat;
}
.topcontent2__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.block2__buttomcontent {
	padding: 5px 5px 10px 5px;
}
.block2__card {
	max-width: 324px;
	display: inline-block;
	vertical-align: top;
	margin: 0px 24px 0px 0px;
}
.block2__buttomcontent div.block2__card:last-of-type {
	margin: 0;
}
.block2__card p {
	display: inline-block;
	max-width: 235px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	vertical-align: top;
	margin: 0px 0px 0px 13px;
}
.block2__card p::first-line {
	font-weight: 900;
	font-size: 19px;
	line-height: 46px;
	color: #f2726f;
}
.block2__card p:last-child {
}
.card2-1__text::before {
	display: inline-block;
	content: "";
	width: 63px;
	height: 63px;
	background: url("../img/dog_love_icon.svg") 0 0 no-repeat;
}
.card2-2__text::before {
	display: inline-block;
	content: "";
	width: 63px;
	height: 63px;
	background: url("../img/dog_vet_icon.svg") 0 0 no-repeat;
}
.card2-3__text::before {
	display: inline-block;
	content: "";
	width: 63px;
	height: 63px;
	background: url("../img/dog_stream_icon.svg") 0 0 no-repeat;
}

.block3 {
	background: #191919;
}
.topcontainer {
	text-align: center;
	min-height: 240px;
	padding: 60px 0px 0px 0px;
}
.bgtitle {
	font-weight: 900;
	font-size: 100px;
	line-height: 150px;
	letter-spacing: 0.2em;
	color: #303030;
}
.howitworks__title {
	margin: -130px 0px 0px 0px;
	font-weight: 400;
	font-size: 36px;
	line-height: 90px;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: #d9d9d9;
}
.buttomcontainer {
}
.cardbox {
	padding: 0px 120px 0px 120px;
}
.card {
	display: inline-block;
	max-width: 255px;
	min-height: 206px;
	vertical-align: top;
	background-color: #303030;
	padding: 24px 24px 0px 24px;
	border-radius: 6px;
	margin: 0px 30px 5px 0px;
	color: #fff;
}
.cardbox div.card:last-child {
}
.card h4 {
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
}
.card h4::after {
	content: "";
	display: block;
	height: 2px;
	width: 56px;
	background-color: #34c759;
	margin: 10px 0px 24px 0px;
}
.card p {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	opacity: 50%;
}
.card:hover {
	background-color: #34c759;
	color: #191919;
}
.card:hover h4::after {
	background-color: #191919;
}

.list__box {
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 5px;
}
.list1 li {
	max-width: max-content;
	font-size: 32px;
	color: #070841;
}
.list1 li:not(:last-of-type):after {
	content: "";
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url("../img/plus_icon.svg") 0 0 no-repeat;
}
.list1 li:not(:last-of-type):hover::after {
	content: "";
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url("../img/cross_icon.svg") 0 0 no-repeat;
}
.list1 li:last-of-type {
	max-width: max-content;
	font-size: 32px;
	color: #fff;
	background: #070841;
}
.list1 li:last-of-type::after {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url("../img/blue_plus.png") 0 0 no-repeat;
}
.list1 li:last-of-type:hover::after {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url("../img/blue_cross.png") 0 0 no-repeat;
}
.navigation {
	margin: 0px 0px 10px 0px;
}
.navigation li {
	border: 2px solid #fff;
	display: inline-block;
	font-size: 36px;
	margin: 0px 0px 0px -5px;
}
.navigation a {
	padding: 5px 10px 5px 10px;
	color: #0f5751;
	background: #d8eef1;
}
.navigation a:visited {
	color: #2cc5da;
}
.navigation a:hover {
	color: #141350;
	background: #aacdd3;
	box-shadow: inset 1px 1px 5px #000;
}
.navigation a:focus {
	color: #e4eb8b;
}
.navigation a:active {
	color: #fff;
}
.article {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	display: inline-block;
	max-width: 950px;
	box-shadow: 1px 1px 5px #000;
	margin: 0px 0px 10px 0px;
}
.article h2 {
	font-size: 32px;
	text-indent: 20px;
}
.article h2::first-letter {
	font-size: 52px;
	color: #771e1e;
}
.article p {
	text-indent: 20px;
}
.article1 {
	display: inline-block;
	max-width: 300px;
	max-height: 450px;
	overflow: auto;
}
.article1 p:nth-child(odd) {
	color: #771e1e;
}
.article2 {
	display: inline-block;
	max-width: 300px;
	max-height: 450px;
	overflow: auto;
}
.article2 p:nth-child(even) {
	color: #771e1e;
}
.article3 {
	display: inline-block;
	max-width: 300px;
	max-height: 450px;
	overflow: auto;
}
.article3 p:nth-of-type(3) {
	background: #771e1e;
	color: #fff;
}
